<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

<body>
    <div class="form-service">
        <form action="http://localhost:5000/service-result" enctype="multipart/form-data" method="POST">
        <div class="input-service">
            <div class="subinput">
                <div class="subtitle">Please enter the Employee ID.</div>
                <input type="text"  name="eid">
            </div>
            <div class="subinput">
                <div class="subtitle">Please enter the Customer name.</div>
                <input type="text"  name="cname">
            </div>
            <div class="subinput">
                <div class="subtitle">Please upload your video input.</div>
                <input type="file"  name="video">
            </div>
            <div class="subinput">
                <div class="subtitle">Please upload your audio input.</div>
            </div>
            <input type="file"  name="audio">
        </div>
        <div>
            <input type="submit" class="submit-service" value="submit" />
        </div>
        {% if counter>0 and score!=0 %}
        <div class="result-container">
         <p>Here is your score <b>{{score}}</b>. </p>
         {% endif %}
        </form>
    </div>
</body>